# Node URLs
POLYGON_NODE_URL="https://rpc.ankr.com/polygon/"
POLYGON_TESNET_RPC="https://rpc-mumbai.maticvigil.com/"
ETH_RPC="https://rpc.ankr.com/eth"
ETH_NODE_URL="https://rpc.ankr.com/eth"
FTM_NODE_URL="https://rpc.ankr.com/fantom"
BSC_NODE_URL="https://rpc.ankr.com/bsc"
AVAX_NODE_URL="https://api.avax.network/ext/bc/C/rpc"
OP_NODE_URL="https://optimism-mainnet.public.blastapi.io"
ARBITRUM_NODE_URL="https://arb1.arbitrum.io/rpc"
VELAS_NODE_URL="https://evmexplorer.velas.com/rpc"
AURORA_NODE_URL="https://mainnet.aurora.dev"
OASIS_NODE_URL="https://rpc1.oasischain.io"
CRONOS_NODE_URL="https://evm.cronos.org/"
BTTC_NODE_URL="https://rpc.ankr.com/bttc"
AVAX_FUJI_NODE_URL="https://api.avax-test.network/ext/bc/C/rpc"
ETH_GOERLI_NODE_URL="https://rpc.ankr.com/eth_goerli"

# Scan API keys
POLYGON_SCAN=""
BSC_SCAN=""
AVAX_SCAN=""
OP_SCAN=""
ARBITRUM_SCAN=""
AURORA_SCAN=""
BTTC_SCAN=""
CRONOS_SCAN=""
FTM_SCAN=""
MAINNET_SCAN=""

# Private keys
MNEMONIC="test test test test test test test test test test test test"
INFURA_API_KEY=
ETHERSCAN_API_KEY=
ALCHEMY_API_KEY=
