[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.6
[submodule "lib/ks-growth-utils-sc"]
	path = lib/ks-growth-utils-sc
	url = https://github.com/KyberNetwork/ks-growth-utils-sc
